// FONT SIZES
$fontSizeSM: 13px;
$fontSize: 18px;
$fontSizeLG: 24px;

// COLORS
$backgroundGradient: linear-gradient(to bottom right, #f7faff, #e2e7ef);
$textColorLight: #b7b9c0;
$textColor: #9fa0aa;
$textColorDark: #6c6d71;
$infoColor: #0068ff;
$warningColor: #ffc566;
