@import "./variables";
@import "./fonts";

html,
body {
   margin: 0;
   padding: 0;
}

body {
   font-family: WorkSans, sans-serif;
   font-size: $fontSize;
   font-weight: 300;
   width: 100vw;
   height: 100vh;
   background-image: $backgroundGradient;
   color: $textColor;
   overflow: hidden;
}
